body{
    margin:0;
}

.page{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding: 16px;
}

.title{
    font-family: Arial;
    color: #FF6F61;
}

.list{
    color:#FF6F61;
}

.text{
    color:#FF6F61;
}

.palm1{
    position: absolute;
    margin-left: auto;
    margin-top:auto;
}

.palm2{
    position: absolute;
    margin-left: auto;
    margin-top: auto;
}
